PORT=3000
MONGO_URI=mongodb+srv://ashutoshkumar58724_db_user:<W0pxYOpki3bqaCww>@cluster0.woux2me.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_here
SESSION_SECRET=your_session_secret_here
ADMIN_SETUP_KEY=travelagency-admin-key


