MONGO_URI=mongodb+srv://ashutoshkumar58724_db_user:W0pxYOpki3bqaCww@your-cluster.mongodb.net/travelagency?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
JWT_SECRET=your_jwt_secret_here
SESSION_SECRET=your_session_secret_here
ADMIN_SETUP_KEY=travelagency-admin-key
